<ul class="flex gap-6 justify-center text-semibold text-slate-700 text-lg">
    <li>
      <a href="">
        <app-button class="hidden lg:block" labelName="Sign In" size="L" ></app-button>
        <app-button class="lg:hidden" labelName="Sign In" size="M" shade="W" animation="F" ></app-button>
      </a>
        
    </li>
    <li>
      <a href="">
        <app-button class="hidden lg:block"  labelName="Sign Up" size="L" shade="W" animation="F"></app-button>
        <app-button class="lg:hidden" labelName="Sign Up" size="M" shade="W" animation="F"></app-button>
      </a>
    </li>
  </ul>