<section *ngIf="showPopup" class="flex bg-slate-800 absolute top-0 left-0 h-screen w-full z-50 bg-opacity-70">
    <svg (click)="this.closeModal()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-10 h-10 absolute top-5 right-5 text-white cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>
    <iframe class="m-auto aspect-video w-[90%] md:w-[70%]" [src]="safeURL"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
    </iframe>
</section>