<nav class="absolute lg:hidden w-full top-0 left-0 h-screen z-50 {{isSideMenu ? 'flex':'hidden'}} ">
  <div class="bg-white w-full md:max-w-sm shadow-2xl ">
    <div class="flex justify-end p-5">
        <svg (click)="closeSideMenu()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>          
    </div>

    <div>
      <div class="mt-3"><app-phone></app-phone></div>
      <div class="mt-3"><app-email></app-email></div>
      <div class="mt-3"><app-auth-link></app-auth-link></div>
      <div class="mt-6">
        <app-menu></app-menu>
      </div>
      <div class="mt-5">
        <app-social-links></app-social-links>
      </div>
     
    </div>

  </div>
  <div (click)="closeSideMenu()" class="bg-gray-900 hidden md:block md:w-full opacity-70">
   

  </div>
</nav>

<header class="absolute w-full z-40">
  <div class="bg-slate-800 py-2 hidden lg:block">
    <div class="container text-white">
      <ul class="flex justify-between">
        <li>All course 20% offer for <span class="text-emerald-500">Aspire Employees</span></li>
        <li>
          <img src="../assets//shapes/shape-1.webp" alt="">
        </li>
        <li>
          <app-phone></app-phone>
        </li>
        <li>
          <app-email></app-email>
        </li>
        <li>
          <img src="../assets//shapes/shape-2.webp" alt="">
        </li>
        <li>
          <app-social-links></app-social-links>
        </li>
      </ul>
    </div>
  </div>
  <div class="px-5 {{isMenuScrolled ? 'fixed top-0 w-full bg-white shadow-xl animate-slideInDown animate-faster':'pt-10'}}">
    <div class="container py-5 flex items-center justify-between  {{isMenuScrolled ? '':'border'}} border-emerald-500 border-opacity-3 rounded-xl">
      <a href="">
        <img src="../assets//logo.png" alt="">
      </a>

      <div class="lg:hidden">
        <svg  (click)="openSideMenu()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
        
      </div>
      <app-menu class="hidden lg:block"></app-menu>
      <app-auth-link class="hidden lg:block"></app-auth-link>
    </div>
  </div>
 
</header>
  <router-outlet></router-outlet>

<app-footer></app-footer>
<button *ngIf="isMenuScrolled" class="flex fixed bottom-5 right-5 w-10 h-10 bg-emerald-600 transition-all duration-500 hover:bg-slate-800 rounded-full">
  <svg (click)="scrollTop()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 m-auto text-white">
    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
  </svg>
</button>